body {
    font-family: "Comfortaa", Arial;
    display: flex;
    justify-content: center;
    margin: 50px;
    background-image: url(images/Pillars.jpg);
    background-size: cover;
}

.logo {
    width: 100px;
    height: 100px;
    opacity: 75%;
    animation: fade-in 4s;
}

@keyframes fade-in {
    0% { opacity: 0; }
    75% { opacity: .75; }
}