body {
    font-family: "Comfortaa";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 250px;
    border: 0;
}

.brandname {
    color: white;
    margin: 20px;
    font-size: 25px;
    text-shadow: #FFFFFF 1px 0 10px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 70%;
    gap: 25px;
}

button {
    align-self: flex-start;
    margin: 80px;
    width: 100px;
    height: 35px;
    box-shadow: 0 1px 3px;
    border-radius: 8px;
    font-family: "Comfortaa";
    transition-duration: 0.4s;
    animation: fade-in 3s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

button:hover {
    background-color: gray;
    opacity: 35%;
    color: white
}

@keyframes fade-in {
    0% { opacity: 0; }
    75% { opacity: .75; }
}

.primary {
    background: url(images/Pillars.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 75vh;
}

.thepalmetto {
    display: flex;
    justify-content: center;

}

.treeoflife {
    height: 200px;
    width: 200px;
    animation: fade-in 4s;
}

.projects {
    display: flex;
    background-color: #c3997a;
    justify-content: center;
}

.tiles {
    display: flex;
    background-color:#c3997a;
    justify-content: space-around;
    align-items: center;
    height: 225px;
}

.tile {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 144px;
    height: 144px;
    border-radius: 25px;
    border: solid 3px #7f5f46;
    padding: 25px;
}

.secondary {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed,
    url(images/invertedpillars.jpg) no-repeat center center fixed;
    height: 55vh;
    justify-content: flex-start;
    flex-direction: column;
}

.quote {
    color: white;
    font-size: 35px;
    padding: 20px;
}

.author {
    color: white;
    font-size: 26px;
    align-self: center;
}

.invertedtree {
    height: 200px;
    width: 200px;
    align-self: center;
    padding: 30px;
}