body {
    font-family: "Comfortaa", Arial;
    display: flex;
    justify-content: center;
    margin: 50px;
    background-image: url(images/Pillars.jpg);
    background-size: cover;
}

.logo {
    width: 100px;
    height: 100px;
    opacity: 75%;
    animation: fade-in 4s;
}

@keyframes fade-in {
    5% { opacity: .05; }
    75% { opacity: .75; }
}

button {
    width: 100px;
    height: 35px;
    background: transparent;
    box-shadow: 0 2px 4px;
    opacity: 60%;
    margin-bottom: 8px;
    margin-top: 10px;
    border-radius: 8px;
    font-family: "Comfortaa";
    transition-duration: 0.4s;
}

button:hover {
    background-color: gray;
    opacity: 35%;
    color: white
}